@page
@model SemanticPluginsModel
@{
    ViewData["Title"] = "Math!";
}
<h1>@ViewData["Title"]</h1>

<h2>Question</h2>
<form method="post">
    <div>

        <label asp-for="InputMessage">Your Question</label><br />
        <textarea asp-for="InputMessage" rows="4" cols="80"></textarea>
    </div>
    

    <div>
        <label asp-for="AsIanMalcolm">How would you like the answer?</label><br />
        <input type ="radio" asp-for="AsIanMalcolm" value="false">Just the facts, Ma'am</input><br />
        <input type ="radio" asp-for="AsIanMalcolm" value="true">As Dr. Ian Malcolm</input>
    </div>

    <div><input type="submit" /></div>
</form>

<h2>Answer</h2>
<p>@Model.OutputMessage</p>
